.search{
	grid-area: search;
	display: grid;
	grid-template-columns: 3fr 1fr;
}
.search > div{
	margin-top: 90px;
}
.search > div > input{
	width: 95%;
	height: 40px;
	font-size: 26px;
	line-height: 26px;
	padding: 10px;
	font-family: sans-serif;
	color: #2b468d;
}
.search > div > button {
	width: 100%;
	height: 100%;
	background-color: #88a4ec;
	border: none;
	color: #ffffff;
	font-size: 36px;
	transition: 375ms;
}
.search > div > button:hover {
	cursor: pointer;
	border: 1px solid white;
}